
.btn {

    &-cta {
        background-color: #000;
        color: #fff;
        text-transform: uppercase;
        padding: 10px 20px;
        font-size: 10px;
        letter-spacing: 1px;
        border-radius: 2px;
        display: inline-block;
    }
}