
.btn {

    color: #000;
    font-weight: 600;
    letter-spacing: 0.5px;

    &-cta {
        background-color: #000;
        color: #fff;
        text-transform: uppercase;
        padding: 10px 20px;
        font-size: 10px;
        font-weight: 600;
        letter-spacing: 1px;
        border-radius: 2px;
        display: inline-block;
    }

    &-cta-inverted {
        background-color: #fff;
        color: #000;
    }
}