
header {
    position: fixed;
    top: 0px;
    display: block;
    width: 100%;
    z-index: 100;

    @include mediaFrom(lg) {
        display: flex;
        justify-content: center;
        box-shadow: 1px 1px 3px #b5b5b5;
    }
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid $c-light-gray;
    background-color: #fff;

    @include mediaFrom(lg) {
        padding: 1rem 0;
        width: 90%;
    }

    &__brand {
        display: flex;
        align-items: center;

        @include mediaFrom(lg) {
            z-index: 1010;
        }

        i {
            margin-right: 20px;
        }

        .navbar__logo {
            font-size: 26px;
            color: #000;
            line-height: 20px;
        }
    }

    &__logo {
        font-weight: 600;
        letter-spacing: 3px;
        span {
            color: $c-primary;
            font-size: 30px;
        }
    }

    &__ui-items {
        display: flex;
        align-items: center;

        @include mediaFrom(lg) {
            z-index: 1010;
        }

        .navbar__ui-icon-container {
            margin: 0 10px;

            color: #000;
        }
    }

    &__ui-icon {
        font-size: 20px;
        height: 20px;
        color: inherit;
        cursor: pointer;
    }

    &__collapse {
        position: fixed;
        z-index: 1000;
        width: 100%;
        height: 100%;
        bottom: 0;
        background-color: #fff;
        padding: 1.5rem;
        
        transition-duration: 0.4s;
        transition-timing-function: ease;
        
        &-menu {
            left: -100%;

            transition-property: left;

            @include mediaFrom(lg) {
                left: 0px;
                height: 57px;
                bottom: unset;
                padding: 0 0 0 200px;
            }
        }

        &-cart {
            right: -100%;

            transition-property: right;

            @include mediaFrom(lg) {
                width: 400px;
                box-shadow: -1px 1px 5px #9d9d9d;
                padding: 0.8rem 1.5rem;
                z-index: 1010;
            }
        }

        .navbar__logo {
            font-size: 28px;
            color: #000;
            display: block;
            span {
                font-size: inherit;
            }
        }

        .navbar__logo-container {
            margin-top: 2rem;
            text-align: center;
            border-bottom: 1px solid #000;
            padding-bottom: 10px;
        }
    }

    &__nav {
        display: flex;
        flex-direction: column;

        @include mediaFrom(lg) {
            flex-direction: row;
            align-items: center;
            height: 100%;
        }
    }

    &__link {
        color: #000;
        font-size: 17px;
        margin-top: 20px;
        border-bottom: 1px solid $c-light-gray;
        padding-bottom: 10px;

        @include mediaFrom(lg) {
            margin: 0 20px;
            padding: 0px;
            border-bottom: none;
            position: relative;
            font-size: 11px;
            letter-spacing: 0.8px;
            text-transform: uppercase;
            font-weight: 500;

            &::after {
                position: absolute;
                content: '';
                width: 0;
                height: 1.5px;
                background-color: #000;
                bottom: -3px;
                left: 0px;

                transition-property: width;
                transition-duration: 0.3s;
                transition-timing-function: ease;
            }

            &:hover::after {
                width: 100%;
            }
        }
    }

    &__link.active {
        color: $c-primary;

        @include mediaFrom(lg) {
            color: #000;
            &::after {
                width: 100%;
            }
        }
    }

    &__close-btn {
        border: none;
        background-color: transparent;
        position: absolute;
        right: 1.5rem;
        color: #000;
        cursor: pointer;
    }
}

.is-active-left {
    left: 0px;
}

.is-active-right {
    right: 0px;
}