
.social {

    &__main-container {

        ul {
            display: flex;
        }

        li {
            margin: 0 5px;
        }
    }

    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #000;
        width: 20px;
        height: 20px;
        padding: 15px;
        border-radius: 50%;
        transition-property: background-color, color;
        transition-duration: 0.4s;
        transition-timing-function: ease;

        &:hover {
            background-color: #000;
            color: #fff;
        }
    }
}