.single-b {

    &__main-container {
        position: relative;
    }

    &__text-container {
        position: absolute;
        text-align: center;
        width: 100%;
        bottom: 60%;
    }

    &__title {
        background-color: #000;
        color: #fff;
        display: inline-block;
        padding: 5px 15px;
        font-weight: 600;
    }

    &__subtitle {
        letter-spacing: 3px;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    &__img {
        width: 100%;
        max-height: 600px;
        object-fit: cover;
    }
}