* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background-color: transparent;
}

.mt-5 {
    margin-top: 25px;
}

.mt-4 {
    margin-top: 20px;
}

.mt-3 {
    margin-top: 15px;
}

.mt-2 {
    margin-top: 10px;
}

.mt-1 {
    margin-top: 5px;
}

.mr-2 {
    margin-right: 10px;
}

.w-90 {
    width: 90%;
}

.w-100 {
    width: 100%;
}

.mw-40 {
    width: 40px;
    max-width: 40px !important;
}